## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.dll
*.exe
*.pdb

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/
project.lock.json
*.nuget.props
*.nuget.targets

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## Rider
.idea/
*.sln.iml

## macOS
.DS_Store

## Avalonia designer
*.axaml.g.cs

## Local history
.history/
.lh/
PLAN.md